<div class="header">
  <app-header title="Grocery List"></app-header>
  <div class="menu">
    <app-button (click)="newList()">
      <img
        src="../../../assets/icons/icons8-plus-24.png"
        alt="add-icon"
        width="20"
      />
    </app-button>
  </div>
</div>
@if(groceryLists.length > 0) {
<ul>
  @for (groceryList of groceryLists; track groceryList.id) {
  <li class="tile" (click)="selectList(groceryList.id)" @tileFadeSlideOut>
    @if(groceryList.showDelete) {
    <div class="delete-tile" @deleteFadeSlideInOut>
      <div class="delete" (click)="deleteList($event, groceryList.id)">
        <img
          src="../../../assets/icons/icons8-delete-96.png"
          alt="delete-icon"
          width="50"
          height="50"
        />
      </div>
      <div class="cancel" (click)="cancelDeleteList($event, groceryList.id)">
        <img
          src="../../../assets/icons/icons8-cancel-96.png"
          alt="cancel-icon"
          width="40"
          height="40"
        />
      </div>
    </div>
    }
    <div class="title">
      @if (groceryList.store) {
      <label>{{ groceryList.store.name }}</label>
      <label>{{ displayCreatedAt(groceryList.createdAt) }}</label>
      }
    </div>
    <div class="content">
      <div class="begin">
        {{ groceryList.name }}
      </div>
      <div class="buttons">
        @if(groceryList.store) {
        <app-anchor-button
          [href]="getLinkMapsStore(groceryList) || '#'"
          [newWindow]="true"
          (click)="preventPropagation($event)"
          ><img
            src="../../../assets/icons/icons8-location-24.png"
            alt="location-icon"
            width="20"
        /></app-anchor-button>
        }
        <app-button (click)="editList($event, groceryList.id)"
          ><img
            src="../../../assets/icons/icons8-edit-24.png"
            alt="edit-icon"
            width="20"
          />
        </app-button>
        <app-button
          [danger]="true"
          (click)="showDeleteList($event, groceryList.id)"
          ><img
            src="../../../assets/icons/icons8-delete-24.png"
            alt="delete-icon"
            width="20"
          />
        </app-button>
      </div>
    </div>
  </li>
  }
</ul>
} @else {
<p>No grocery list yet</p>
}
