ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 50%;

    @media screen and (max-width: 768px) {
        width: 90%;
    }

    .tile {
        list-style: none;
        background-color: white;
        //color: #6d6b6b;
        margin: 10px 0;
        border-radius: 5px;
        box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
        //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);

        &:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }

        .title {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            color: #C8963E;
        }

        .content {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 768px) {
                flex-direction: column;
            }

            .begin {
                display: flex;
                align-items: center;
                padding: 20px;
                flex: 1;
                cursor: pointer;
                color: #595959;

                @media screen and (max-width: 768px) {
                    justify-content: center;
                    padding: 10px;
                    font-weight: bolder;
                    font-size: large;
                }
            }
        
            .buttons {
                padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;

                @media screen and (max-width: 768px) {
                    cursor: pointer;
                }
        
                button {
                    height: 100%;
                }
        
                &>* {
                    margin-right: 10px;
                }
        
                &>*:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

h1 {
    color: #595959;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}