.add-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        label {
            font-size: large;
            font-weight: bold;
            color: #595959;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        .ingredient-title {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        hr {
            display: none;

            &:not(:last-child) {
                display: block;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 0;
                color: #595959;
            }
        }

        .ingredient-section {
            width: 100%;
            display: grid;
            grid-template-columns: 40px minmax(auto, 1fr) 30px;
            grid-template-rows: auto auto;
            gap: 10px;
            margin-top: 10px;

            .ingredient-amount {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            
                input[type="number"] {
                    -moz-appearance: textfield;
                    /* Firefox */
                }
            }
        
            .ingredient-name {
                grid-column: 2 / span 2;
                grid-row: 1 / span 1;
            }
        
            .ingredient-category {
                grid-column: 1 / span 2;
                grid-row: 2 / span 1;
            }
        
            .ingredient-delete {
                grid-column: 3 / span 1;
                grid-row: 2 / span 1;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}