<div class="header">
  <app-header title="Items" [backButton]="true"></app-header>
  <h3>{{ title }}</h3>
  <div class="menu">
    <app-button (click)="newIngredient()">
      <img
        src="../../../assets/icons/icons8-plus-24.png"
        alt="add-icon"
        width="20"
      />
    </app-button>
    <app-button (click)="editIngredient()">
      <img
        src="../../../assets/icons/icons8-edit-24.png"
        alt="edit-icon"
        width="20"
      />
    </app-button>
    <app-button
      (click)="saveIngredients()"
      [success]="saved"
      [disabled]="saved"
      [loading]="isLoading"
    >
      @if (saved) {
      <img
        src="../../../../assets/icons/icons8-check-24.png"
        alt="submit-icon"
        width="20"
      />
      } @else {
      <img
        src="../../../assets/icons/icons8-save-24.png"
        alt="save-icon"
        width="20"
      />
      }
    </app-button>
    <app-button (click)="resetIngredients()">
      <img
        src="../../../assets/icons/icons8-reset-24.png"
        alt="reset-icon"
        width="20"
      />
    </app-button>
  </div>
</div>
@if(!error) {
<ul>
  <ng-template #dynamicComponentContainer></ng-template>
  @for(ingredient of ingredients; track ingredient.id) {
  <li (click)="putInBasket($index)" @tileFadeSlideOut>
    <app-tile-ingredient
      [ingredient]="ingredient"
      (onIngredientDeleted)="deleteIngredient($event)"
    ></app-tile-ingredient>
  </li>
  }
</ul>
} @else {
<p>This item does not exist.. Please go back and select a correct list</p>
}
