.header {
    h3 {
        color: #595959;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        &>* {
            margin-right: 10px;
        }
    
        &>*:last-child {
            margin-right: 0;
        }
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 100%;

    li {
        list-style: none;
    }
}